footer {
    width: 100vw;
    position: fixed;
    bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    footer {
        width: inherit;
        right: 0;
        left: 260px;
    }
}