@page "/"

@using System.Text
@using System.Text.Json
@using Azure.AI.OpenAI
@using RudeGPT.Shared

@inject HttpClient Http



<div class="is-flex-grow-1">
  <div class="columns is-full-height">
    <Sidebar></Sidebar>
    <div class="column is-flex is-flex-direction-column">
      <NavBar></NavBar>
      <hr class="mt-0 mb-4" />
      <div class="chat-thread is-flex-grow-1">
        @foreach (var message in chatSession)
        {
          <MessageItem message="@message"></MessageItem>
        }
      </div>
      <ChatBox OnUserMessageSubmit="@GetCompletion"></ChatBox>
    </div>
  </div>
</div>

@code {
  private List<Message> chatSession = new List<Message>();

  private List<Message> messages = new List<Message>();

  private async Task GetCompletion(string message)
  {
    Console.WriteLine(message);
    if (!String.IsNullOrEmpty(message))
    {
      // add the message to the messages list
      chatSession.Add(new Message { Role = ChatRole.User, Content = message });

      var assistantMessage = new Message { Role = ChatRole.Assistant, Content = "..." };

      chatSession.Add(assistantMessage);

      // call the /api/completions endpoint and pass in the messages object
      var response = await Http.PostAsJsonAsync<List<Message>>("api/completions", chatSession);
      if (response.Content is not null)
      {
        var responseContent = await response.Content.ReadAsStringAsync();
        var content = JsonSerializer.Deserialize<string>(responseContent);

        assistantMessage.Content = content;
      }
    }
  }
}
