@page "/"

<div class="is-flex-grow-1">
  <div class="columns is-full-height">
    <Sidebar></Sidebar>
    <div class="column is-flex is-flex-direction-column">
      <NavBar></NavBar>
      <hr class="mt-0 mb-4" />
      <div class="chat-thread is-flex-grow-1">
        <ChatMessage></ChatMessage>
      </div>
      <ChatBox></ChatBox>
    </div>
  </div>
</div>
