.chat {
    border: 1px solid #ddd;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
}

.chat textarea {
    resize: none;
    min-width: 100%;
    border: none;
    height: 96px;
    font-size: 1rem;
    line-height: 1.5rem;
    outline: none;
    padding-right: 1rem;
    box-shadow: none;
}