@using Azure.AI.OpenAI
@inject HttpClient Http

<div class="chat">
  <div class="columns is-mobile">
    <div class="column">
      <textarea class="textarea" @bind="Model" @onkeydown:preventDefault="@preventDefault" @bind:event="oninput"
        @onkeydown="HandleKeyDown"></textarea>
    </div>
    <div class="column is-narrow is-flex is-flex-direction-column is-justify-content-flex-end">
      <button class="button is-primary is-block mr-3 is-rounded" @onclick="HandleSendButtonClick">Send</button>
    </div>
  </div>
</div>

@code {

  public string Model { get; set; } = "";

  private bool preventDefault = false;

  private string lastMessage = "";


  [Parameter]
  public EventCallback<string> OnUserMessageSubmit { get; set; }

  private async Task AddMessage(string newMessage)
  {
    await OnUserMessageSubmit.InvokeAsync(newMessage);
  }

  private async void HandleSendButtonClick()
  {
    preventDefault = true;

    lastMessage = Model;
    Model = "";

    // submit their message to the model for completion
    await AddMessage(lastMessage);
  }

  private async void HandleKeyDown(KeyboardEventArgs e)
  {
    // the user has pressed the enter key and is not also
    // holding down the shift key
    if (e.Key == "Enter" && !e.ShiftKey)
    {
      // we are preventing the default case here (key press) because
      // we don't want to add a carriage return to the text area
      preventDefault = true;

      lastMessage = Model;
      Model = "";

      // submit their message to the model for completion
      await AddMessage(lastMessage);
      return;
    }

    // the user has pressed the up arrow and the chatbox is empty
    if (e.Key == "ArrowUp" && String.IsNullOrEmpty(Model))
    {
      // restore their last message
      Model = lastMessage;
      return;
    }

    preventDefault = false;
  }
}
