@using RudeGPT.Shared
@using System.Text.Json

@inject IJSRuntime JSRuntime
@inject StateContainer StateContainer

<div class="mt-5">
  <p class="has-text-white has-text-centered">Chat History</p>
  @foreach (var chatHistoryItem in StateContainer.ChatHistory)
  {
    <div class="columns m-1 history-item is-mobile">
      <div class="column is-clickable" @onclick="() => HandleHistoryItemClick(chatHistoryItem)">
        <a class="has-text-white">@chatHistoryItem.Title
        </a>
      </div>
      <div class="column is-narrow">
        <button class="delete" @onclick="() => HandleHistoryItemDelete(chatHistoryItem)"></button>
      </div>
    </div>
  }
</div>

@code {
  protected override void OnInitialized()
  {
    StateContainer.OnChange += StateHasChanged;
  }


  private void HandleHistoryItemClick(ChatSession chatHistoryItem)
  {
    StateContainer.SetActiveChatSession(chatHistoryItem);
  }

  private void HandleHistoryItemDelete(ChatSession chatHistoryItem)
  {
    StateContainer.RemoveFromChatHistory(chatHistoryItem);

    if (StateContainer.ActiveChat == chatHistoryItem)
    {
      StateContainer.ActiveChat = new ChatSession();
    }
  }

  public void Dispose()
  {
    StateContainer.OnChange -= StateHasChanged;
  }
}