@using Azure.AI.OpenAI
@inject HttpClient Http

<div class="chat m-5">
  <div class="columns">
    <div class="column">
      <textarea class="textarea" @bind="Model" @onkeydown:preventDefault="@preventDefault" @bind:event="oninput"
      @onkeydown="HandleKeyDown"></textarea>
    </div>
    <div class="column is-narrow is-flex is-flex-direction-column is-justify-content-flex-end">
      <div class="button is-primary is-block mr-3 is-rounded">Send</div>
    </div>
  </div>
</div>

@code {

  public string Model { get; set; } = "";

  private bool preventDefault = false;


  [Parameter]
  public EventCallback<string> OnUserMessageSubmit { get; set; }

  private async Task AddMessage()
  {
    await OnUserMessageSubmit.InvokeAsync(Model);
    Model = "";
  }

  private async void HandleKeyDown(KeyboardEventArgs e)
  {
    if (e.Key == "Enter" && !e.ShiftKey)
    {
      preventDefault = true;
      await AddMessage();
    }
    else
    {
      preventDefault = false;
    }
  }
}
