@using RudeGPT.Shared

@inject StateContainer StateContainer

<nav id="navbar" class="is-fullwidth has-background-success is-flex justify-content-space-between">
    <div class="navbar-item is-flex-grow-1 is-flex is-justify-content-flex-start">
        <button class="button is-success is-medium" @onclick="HandleToggleMenuClick">
            <span class="icon"><i class="fa fa-navicon"></i></span>
        </button>
    </div>
    <div class="navbar-item is-flex-grow-1 is-flex is-justify-content-flex-end">
        <button class="button is-success is-medium" @onclick="HandleNewChatClick">
            <span class="icon"><i class="fa fa-plus"></i></span>
        </button>
    </div>
</nav>

@code {

    [Parameter]
    public EventCallback OnSideBarIconClick { get; set; }

    private void HandleNewChatClick()
    {
        StateContainer.ActiveChat = new ChatSession();
    }

    private void HandleToggleMenuClick()
    {
        OnSideBarIconClick.InvokeAsync();
    }
}