<aside
    class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile has-background-success has-text-white">
    <div class="columns">
        <div class="column is-full">
            <button class="button is-success is-outlined is-inverted is-fullwidth">New Chat</button>
        </div>
    </div>
    <p class="menu-label has-text-white">Chat History</p>
</aside>