#sidebar {
    width: 260px;
    transition: left 0.2s ease-in-out;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: block !important;
        position: fixed;
        height: 100vh;
        z-index: 9999;
        left: -260px;
        overflow: hidden;
        top: 0;
    }

    #sidebar.is-visible {
        left: 0;
        top: 0;
    }
}