@using RudeGPT.Shared

@inject StateContainer StateContainer

<aside id="sidebar" class="is-fullheight has-background-success has-text-white @SidebarClass">
    <div class="p-4">
        <button class="button is-success is-outlined is-inverted is-fullwidth is-block"
            @onclick="HandleNewChatClick">New
            Chat</button>
    </div>
    <ChatHistory />
</aside>

@code {

    [Parameter]
    public bool sidebarIsOpen { get; set; }

    private string SidebarClass => sidebarIsOpen ? "is-visible" : "";

    private void HandleNewChatClick()
    {
        StateContainer.ChatSession = new ChatSession();
    }
}