#sidebar {
    width: 260px;
    transition: left 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    #sidebar.is-hidden-mobile {
        display: block !important;
        position: fixed;
        height: 100vh;
        z-index: 1;
        left: -260px;
        overflow: hidden;
    }

    #sidebar.sidebar-open {
        left: 0;
    }
}