#sidebar {
    width: 260px;
}

@media screen and (max-width: 768px) {
    #sidebar.is-hidden-mobile {
        display: block !important;
        position: fixed;
        height: 100vh;
        z-index: 1;
        width: 0;
        overflow: hidden;
    }
}